@import "./app.scss";

.content {
    margin-top: 100px;
    min-height: 480px;
}

// Main
.heading {
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1, h2, h3 {
        font-family: $title-font;
    }
    h1 {
        font-weight: 200;
        font-size: 48px;
        b{
            color: $tertiary-color;
            font-weight: 600;
        }
    }
}

.pfp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:30px
}

.pfp img{
    max-width: 360px;
    border-radius: 500px;
}

//about
.tl-text{
    width: 300px;
    h4 {
        color: $tertiary-color;
        font-family: $title-font;
        font-weight: 600;
        font-size: 28px;
    }
}

.about-intro{
    min-width: 300px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 120px;
    font-family: $body-font;
}

.about-timeline{
    height: 700px;
    font-size: 20px;
    #t-2018{
        position: absolute;
        top: 463px;
        left:58px;
    }
    #t-2020{
        text-align: right;
        position: absolute;
        top: 383px;
        right:58px;
    }
    #t-2021{
        position: absolute;
        top: 228px;
        left:58px;
    }
    #t-2022{
        text-align: right;
        position: absolute;
        top: 147px;
        right:58px;
    }
    #t-2023{
        position: absolute;
        top: 63px;
        left:58px;
    }
    #t-2024{
        position: absolute;
        top: -14px;
        right:58px;
        text-align: right;
    }
    .blank{
        height: 80px;
    }
    .vl {
        border-left: 3px solid $secondary-color;
        height: 600px;
        position: absolute;
        left: 50%;
    }
    .vhr {
        background-color: $secondary-color;
        width: 50px;
        height: 3px;
        position: absolute;
        left: 50%;
        display: inline;
    }
    .vhl {
        background-color: $secondary-color;
        width: 50px;
        height: 3px;
        position: absolute;
        right: 50%;
        display: inline;
    }
}

.gone {
    display: block;
    opacity: 100%;
}
.reverse-gone {
    display: none;
    opacity: 0%;
}


//contact
#contact{
    font-size: 28px;
    font-weight: 600;
    .button{
        margin-top: 15px;
        font-size: 25px;
        border: 3px solid $secondary-color;
        color:$secondary-color;
        border-radius: 30px;
    }
    .button:hover {
        background-color: $secondary-color;
        color: white;
    }
    ul{
      width: 500px;
    }
    .btn{
      min-width: 240px;
    }
    li{
      list-style-type: none;
      a{
        text-decoration: none;
        color: $secondary-color;
        transition: all 0.2s;
      }
      a:hover{
        color: white;
      }
    }
  }

@media screen and (min-width: 1400px) {
    .content {
        min-height: 750px;
    }
    .heading {
        height: 750px;
    }
}

@media screen and (max-width: 800px) {
    .tl-text{
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .content {
        min-height: 800px;
    }
    .heading {
        height: 750px;
    }
    .gone {
        display: none;
        opacity: 0%;
    }
    .reverse-gone {
        display: block;
        opacity: 100%;
    }
    .pfp img{
        width: 250px;
    }
    .tl-text{
        width:110px;
        h4 {
            font-size: 20px;
        }
    }

    .about-timeline {
        height: 700px;
        font-size: 12px;
        #t-2018{
            position: absolute;
            top: 463px;
            left:58px;
        }
        #t-2020{
            text-align: right;
            position: absolute;
            top: 383px;
            right:58px;
        }
        #t-2021{
            position: absolute;
            top: 228px;
            left:58px;
        }
        #t-2022{
            text-align: right;
            position: absolute;
            top: 147px;
            right:58px;
        }
        #t-2023{
            position: absolute;
            top: 63px;
            left:58px;
        }
        #t-2024{
            position: absolute;
            top: -14px;
            right:58px;
            text-align: right;
        }
        .vl{
            height: 531px;
        }
    }

    #contact{
        margin-bottom:75px;
        padding: 25px;
        ul{
            width: 90%;
        }
        .button{
            font-size: 20px;
        }
        .btn{
            min-width: 150px;
        }
        li{
            list-style-type: none;
            a{
            font-size: 18px;
            text-decoration: none;
            color: $secondary-color;
            transition: all 0.2s;
            }
            a:hover{
            color: white;
            }
        }
    }
}