@import "./app.scss";

.content {
    margin-top: 100px;
    min-height: 480px;
}

// Main
#heading {
    min-height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1, h2, h3 {
        font-family: $title-font;
    }
    h1 {
        font-weight: 200;
        font-size: 48px;
        b{
            color: $tertiary-color;
            font-weight: 600;
        }
    }
    
    .pfp {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:30px;
        img {
            max-width: 360px;
            border-radius: 500px;
        }
    }
}


//contact
#contact{
    font-size: 28px;
    font-weight: 600;
    .button {
        margin-top: 15px;
        font-size: 25px;
        border: 3px solid $secondary-color;
        color:$secondary-color;
        border-radius: 30px;
        display: flex;
        align-items: center;
        width: fit-content;
    }
    .button:hover {
        background-color: $secondary-color;
        color: white;
    }
    ul {
      width: 500px;
    }
    .btn {
      min-width: 240px;
    }
    .center-y {
        display: flex;
        align-items: center;
    }
    li {
      list-style-type: none;
      margin-top: 5px;
      margin-bottom: 5px;
      a{
        display: flex;
        width: fit-content;
        align-items: center;
        text-decoration: none;
        color: $secondary-color;
        img {
            margin-right: 5px; // Adjust as needed
            transition: all 0.2s; // Add transition for the image
            height: 35px;
        }
        transition: all 0.2s;
      }
      a:hover{
        color: white;
      }
    }
    #download_icon {
        height: 40px;
        margin-right: 10px;
    }
}

@media screen and (min-width: 1400px) {
    .content {
        min-height: 750px;
    }
    #heading {
        min-height: 750px;
    }
}

@media screen and (max-width:991px) {
    #heading {
        .pfp {
            margin: 0 auto;
            max-width: 800px;
            height:400px;
            border-radius: 0px 0px 250px 250px;
            overflow: hidden;
            img {
                position: relative;
                border-radius: 0;
                min-width: 100%;
                min-height: 100%;
                top: 0px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .content {
        margin-top: 60px;
    }
    #heading {
        min-height: 400px;
        h1{
            font-size: 32px;
        }
        h5 {
            font-size:16px;
        }
        .pfp {
            max-width: 400px;
        }
    }

    #contact {
        margin-bottom:75px;
        padding: 25px;
        ul{
            width: 90%;
        }
        .button{
            font-size: 20px;
        }
        .btn{
            min-width: 150px;
        }
        li{
            list-style-type: none;
            a{
            font-size: 18px;
            text-decoration: none;
            color: $secondary-color;
            transition: all 0.2s;
            }
            a:hover{
            color: white;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #heading {
        .pfp {
            max-width: 300px;
        }
    }
    .tl-text {
        width:95px;
    }
}