@import "./app.scss";
a {
  text-decoration: none;
}
a:hover {
  .card {
    box-shadow: 12px 12px 2px 1px $secondary-color;
  }
}

// Card

.card{
  border: none;
  border-radius: 15px;
  transition: all 0.5s;
  box-shadow: 0px 3px 0px 0px grey;
  text-decoration: none;
  margin-top:20px;
  margin-bottom: 20px;
  padding: 20px;

  p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
  }
  img{
    min-height: 100%;
    max-height: 150%;
    transition: all 0.5s;
  }
  .portfolio-img{
    height:200px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 12px;
  }
  .card-textbox{
    .card-title {
      color: $secondary-color;
      text-align: center;
      font-weight: 600;
    }
    .tag {
      border: 2px solid $secondary-color;
      display: inline-block;
      color: $secondary-color;
      padding: 5px 15px;
      border-radius: 30px;
      font-size: 12px;
      font-weight: 600;
      margin: 5px;
    }
  }
}


@media screen and (max-width: 500px) {
  .card{
    margin-left: 12px;
    margin-right: 12px;
  }
}